@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-ngo-yellow: #FFC800;
  --color-ngo-black: #0A0A0A;
  --color-ngo-grey: #F3F4F6;
  --color-ngo-white: #FFFFFF;
  --color-ngo-dark-grey: #1A1A1A;
  --font-family-sans: 'Inter', sans-serif;
}